*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
li{
    list-style:none ;
}
a{
    text-decoration:none ;
    color: #000;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;
    height:  70px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
}
header.sticky {
    background: rgba(255, 255, 225, 1);
}
header:hover{
    background: rgba(255, 255, 225, 1);
}
.logo{
  flex: 1;
}
.logo img {
  padding: 20px;
    height: 100px;
}
.menu{
    flex:3 ;
   display:flex ;
}
.menu >li{
    padding: 0 12px;
    position: relative;
}
.menu >li:hover .sub-menu {
   
  visibility: visible;
  top: 55px;
}


.sub-menu {
    position: absolute;
    width: 150px;
    border: 1px soli #ccc;
    padding: 10px 0 10px 20px;
    visibility: hidden;
   top: 50px;
 transition: 0.3s;
 z-index: 1;
 background: fixed#fff;
}
.sub-menu ul {
    padding-left: 28px;
}
.sub-menu li ul a {
    font-weight:normal ;
    font-weight: 12px !important;
}
.menu >li a{
font-size: 12px;
font-weight:bold !important ;
display: block;
line-height: 20px;
}
.others {
    flex: 1;
    display: flex;

}
.others >li {
    padding:0 12px;
    position: relative;

}
.others > li::after {
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background-color:#cccccc ;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-100%);
}
.others >li:last-child::after {
    display: none;
}
.others >li:first-child {
    position: relative;
}

.others >li:first-child input {
    width:100%;
    border: none;
    border-bottom: 1px solid solid #333;
   background: transparent;
   outline:none ;
}
.others >li:first-child i{
    position: absolute;
    right: 10px;
}
#slider {
padding-bottom: 30px;
border-bottom: 2px solid #000;
overflow: hidden;
}
.aspect-ratio-169 {
    display: block;
    position: relative;
    padding: 50%;
    transition: 0.3s;
    
}
.aspect-ratio-169 img{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  
}
.dot-container {
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}
.dot {
    height: 16px;
    width: 16px;
    background-color:#ccc ;
    border-radius: 50%;
    margin-right:12px ;
    cursor: pointer;
}
.dot.active {
    background-color: #333;
}

.app-container {
    text-align: center;
    align-items: center;
    padding:100px 0 50px 0;
}
.app-google {
    margin: 50px;
}
.app-google img{
    height: 50px;
}
.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: #000;
    font-weight: bold;
}
.app-container input {
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 0%);
    padding-bottom:28px ;
    width: 400px;
    text-align: center;
    outline: none;
}

 footer {
text-align: center;
 }
 .footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom:20px ;
    height: 70px;
 }

 .footer-top img {
    height: 50px;
 }
 .footer-top li {
    padding: 0 12px;
    position: relative;
 }
 .footer-top li::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    background-color:#cccccc ;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
 }
 .footer-top li:last-child::after{
    display:none
 }
 .footer-top li:last-child a {
    margin-right:12px ;

    color: #333;
 }
.footer-text{
    text-align: center;
 }
.footter-bottom {
    margin: 20px 0;
    text-align: center;
}

/*----cartegory-----*/
.cartegory-top {
display: flex;
flex-wrap: wrap;
margin-bottom: 50px;
}
.cartegory {
    padding: 100px 0 0;
}
.cartegory-top p {
    font-family: var(--main-text-font);
    margin: 0 12px;
    font-size: 12px;
}
.cartegory-left {
    width: 20%;
}
.cartegory-right{
    width: 80%;
}
.cartegory-right-top-item:first-child {
    flex: 2;
    font-size: 16px;
    font-weight: bold;
}
.cartegory-right-top-item{
    flex: 1;
    padding: 0 12px;
   
}
.cartegory-right{
    float: right;
    margin-top: -490px;
    display: flex;
flex-wrap: wrap;
margin-bottom: 50px;
    
}
.cartegory-right-top-item button {
    width: 100%;
    padding: 7px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;

}
.cartegory-right-top-item select{
    width: 100%;
    padding: 7px 15px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #dddddd;
    cursor: pointer;

}
.cartegory-right-content{
    display: flex;
   
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-between;
}
.cartegory-right-content-item img {
    height: 310px;
    width: 220px;
    justify-content: space-between;
}
.cartegory-right-content-item{
    width: calc(25% - 12px);
    text-align: center;
    padding: 12px 0;
}
.cartegory-right-content-item h1{
    font-size: 11px;
    font-family: var(--main-text-font);
    margin-top: 9px;
    color: #333333;
}
.cartegory-right-content-item p {
    font-size: 12px;
}
.cartegory-right-bottom{
display: flex;
justify-content: space-between;
margin:30px 0 20px;
width: 100%;
}
.cartegory-right-bottom p {
    font-family: var(--main-text-font);
    font-size: 11px;
}
.cartegory-left ul li {
    padding: 10px 0;
}
.cartegory-left ul li>a {
    color:black;
    font-size: 16px;
    font-weight:bold ;
    font-family: var(--main-text-font);
}
.cartegory-left ul li ul li {
    padding-left: 20px;
}
.row{
    padding-bottom: 0;
border-bottom: 2px solid #000;
overflow: hidden;
}
/*------------product=-----*/
.product{
    padding: 100px 0;
    padding: 30px 0;
    border-bottom: 2px solid #dddddd;
}
.product-top{
    margin-bottom:38px ;
    display: flex;
    flex-wrap: wrap; 
}
.product-top p {
    font-family: var(--main-text-font) ;
    margin: 0 12px;
    font-size: 12px;
   
}
.product-content{
    display: flex;
    flex-wrap: wrap;
    
    

}
.product-content-left{
    width: 50%;
    display: flex;
    flex-wrap: wrap;

}
.product-content-right{
    width: 50%;
    padding-left: 20px;
}
.product-content-left-big-img{
    width: 80%;
    padding-right: 20px;
}
.product-content-left-big-img img {
    width: 100%;
}
.product-content-left-small-img{
    width: 20%;

}
.product-content-left-small-img img {
    width: 100%;
    padding-left: 20px;
    height: 125px;
    cursor: pointer;
}
.product-content-right-product-name h1 {
    font-family: var(--main-text-font);
    font-size: 16px;
}
.product-content-right-product-name p {
    color: #ccc;
    font-size: 12px;
}
.product-content-right-product-price {
    margin: 12px 0;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--main-text-font);
}
.product-content-right-product-color img{
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.product-content-right-product-color-img{
    height: 35px;
    width: 35px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0;
}
.size span {
    display:inline-block ;
    padding: 3px 6px;
    border: 1px solid #dddddd;
    margin: 12px 10px 12px 0;
    font-size: 12px;
    cursor: pointer;
}
.quantity {
    display: flex;
    margin-bottom: 20px;
}
.quantity input {
    width: 35px;

}
.product-content-right-product-button button {
    width: 150px;
    height: 40px;
    display: block;
    margin: 20px 0 12px;
    transition: all 0.3s ease;
}
.product-content-right-product-button button:first-child {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffff;
    border: 2px solid black;
    cursor: pointer;
}
.product-content-right-product-button button:first-child:hover {
    background-color: #000;
    color: #fff;
}
.product-content-right-product-button button:last-child {
    border: 2px solid #8f8a49;
    color: #8f8a49;
    background-color: #ffff;
    cursor: pointer;
}
.product-content-right-product-icon {
    display: flex;
}
.product-content-right-product-icon-item {
    display: flex;
    margin-right: 12px;
    justify-content: center;
    align-items: center;
}
.product-content-right-product-icon-item p {
    font-size: 16px;
    margin-left: 6px;
}
.product-content-right-product-QR {
    margin: 20px 0;
}
.product-content-right-product-QR img {
    width: 50px;
}
.product-content-right-bottom{
    padding-top: 40px;
    border-top: 1px solid #dddddd;
    position: relative;
}
.product-content-right-bottom-top{
    position: absolute;
    width: 30px;
    height: 30px;
    border: 1px solid #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    top: -15px;
    left: 50%;
    border-radius: 50%;
    transform: translateX('-50%');
    cursor: pointer;
}
.product-content-right-bottom-content-title{
    display: flex;
    border-bottom: 2px solid #dddddd;
}
.product-content-right-bottom-content-title-item{
    padding: 6px;
    cursor:pointer ;
    margin-right: 6px;
}
.product-content-right-bottom-content-title-item p{
    font-family: var(--main-text-font);
    font-size: 12px;
}
.product-content-right-bottom-content{
     padding-top: 30px;
}
.product-content-right-bottom-content {
    font-family: var(--main-text-font);
    font-size: 12px;
    
}
.activeB{
    display: none;
}
/*------product-------*/
.product-related{
    margin-bottom: 50px;
}
.product-content{
    display: flex;
}
.product-related-title{
    margin: 20px 0;
}
.product-related-title p{
    font-family: var(--main-text-font);
    font-size: 14px;
    font-weight: bold;
    color: #333333;
}

.product-related-item {
width: calc((100%-50px)/5);
text-align: center;
margin: 0 6px;
}

.product-related-item img {
    width: 247px;
}
.product-related-item h1 {
    font-family: var(--main-text-font);
    font-size: 13px;
    color: #333333;
    margin-top: 6px;
}
.product-related-item p {
    font-size: 12px;
    text-decoration: line-through
    ;
}
.product-related{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}
/*-----cart----*/
.cart-content{
    padding: 30px 0;
    border-bottom: 2px solid #000;
}
.cart{
    padding: 100px 0;
}
.cart-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 100px;
}
.cart-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border : 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.cart-top-item i{
color: #fff;
}
.car-top-cart{
    border: 1px solid #00d7ea;
}
.car-top-cart i {
    color: #00d7ea;
}
.cart-content{

    display: flex;
}
.cart-content-left{
    flex: 2;
    padding: 12px;
}
.cart-content-left table {
    width: 100%;
    text-align: center;
}
.cart-content-left table th {
padding-bottom: 30px;
font-family: var(--main-text-font);
font-size: 12px;
text-transform: uppercase;
color: #333;
border-collapse: collapse;
border-bottom: 2px solid #dddddd;
}
.cart-content-left table p {
    font-family: var(--main-text-font);
font-size: 12px;
color: #333;
}
.cart-content-left table input {
    width: 30px;

}
.cart-content-left table span {
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #dddddd;

    cursor: pointer;
}
.cart-content-left table td {
    padding: 20px 0;
    border-bottom: 2px solid #dddddd;
}
.cart-content-left td:first-child img {
    width: 150px;
}
.mau {
    width: 25px;
}
.cart-content-right{
    flex: 1;
    padding: 12px ;
    border-left: 2px solid #dddddd;
}
.cart-content-right table{
    width: 100%;

}
.cart-content-right table th {
    padding-bottom: 30px;
    font-family: var(--main-text-font);
    font-size: 12px;
    color: #333;
    border-collapse: collapse;
    border-bottom: 2px solid #dddddd;
}
.cart-content-right table td {
    font-family:var(--main-text-font) ;
    font-size: 12px;
    color: #333;
    padding: 6px 0;
}
.cart-content-right tr:nth-child(4) td{
    border-bottom: 2px solid #dddddd;
}
.cart-content-right tr td :last-child{
    text-align: right;
}
.cart-content-right-text {
    margin: 20px 0;
    text-align: center;
}
.cart-content-right-text p {
    font-family:var(--main-text-font) ;
    font-size: 12px;
    color: #333;
}
.cart-content-right-buttom {
    text-align: center;
    align-items: center;
}
.cart-content-right-buttom button {
    padding: 0 18px;
    height: 35px;
    cursor: pointer;
}
.cart-content-right-buttom button:first-child{
    background-color: #fff;
    border: 1px solid black;
    margin-right: 20px;
}
.cart-content-right-buttom button:first-child:hover{
    background-color: #dddddd;
}
.cart-content-right-buttom button:last-child{
    background-color: black;
    color: #fff;
    border: none;
    border: 1px solid black;
}
.cart-content-right-buttom button:last-child:hover{
    background-color: #dddddd;
    color: black;
}
.cart-content-right-danhnhap {
    padding-top: 20px;

}
.cart-content-right-danhnhap p{
    font-family:var(--main-text-font) ;
    font-size: 12px;
    color: #333;
    font-weight: bold;
}
/*---------------delivery--------*/

.delivery-content{
 padding: 30px 0;
 border-bottom: 2px solid #000;
 overflow: hidden;
}


.delivery-content-left-button a{
    display: flex;
}
.delivery{
    padding: 100px 0;
}
.delivery-top-wrap{
display: flex;
justify-content: center;
align-items: center;
}
.delivery-top{
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}
.delivery-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border : 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.delivery-top-item i{
color: #dddddd;
}
.delivery-top-adress{
    border: 1px solid #00d7ea;
}
.delivery-content-left {
    width: 60%;
    padding-left: 60px;
    
}
.delivery-content-left p {
font-size: 12px;
font-family: var(--main-text-font);
}
.delivery-content-left label {
    font-size: 12px;
font-family: var(--main-text-font);
margin-bottom: 6px;
display: block;
}
.delivery-content-left> p {
font-weight: bold;
}
.delivery-content-left-dangnhap{
    margin-top: 12px;
    display: flex;
}
.delivery-content-left-dangnhap i{
    font-size: 12px;
    margin-right: 12px;
}
.delivery-content-left-khachle{
    display: flex;
    margin: 12px 0;
}
.delivery-content-left-khachle input {
    margin-right: 12px;
}
.delivery-content-left-dangky{
    display: flex;
    margin-bottom: 30px;
}
.delivery-content-left-dangky input {
    margin-right: 12px;
}
.delivery-content-left-input-top{
    display: flex;
    justify-content: space-between;
}
.delivery-content-left-input-top-item{
    width: calc(50%-12px);
    
}
.delivery-content-left-input-top-item input {
    width: 100%;
    height: 15px;
    border: 1px solid #dddddd;
    padding-left: 6px;
}

.delivery-content-left-button p{
    display: inline-block;
    font-family: var(--main-text-font);
    font-size: 12px;
    padding-top:2px;
}
.delivery-content-left-button span {
    margin-right: 12px;
}
.delivery-content-left-button {
    justify-content: space-between;
    padding-top: 100px;
    display: flex;
}
.delivery-content-left-button button {
   
    height: 20px;
    border: 2px solid black;
    padding: 0 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}
.delivery-content-left-button button:hover {
    background-color: black;
    color: #fff;
}
.delivery-content{
    display: flex;
}
.delivery-content-right {
    width: 40%;
    padding-left: 12px;
    border-left: 2px solid #dddddd;
    height: auto;
    

}
.delivery-content-right table{
    width: 100%;
    font-family: var(--main-text-font);
    font-size: 12px;
    text-align: center;
}
.delivery-content-right table tr th :first-child {
    text-align: left;

}
.delivery-content-right table tr th {
    padding-bottom: 12px;
    border-bottom: 2px solid #dddddd;
}
.delivery-content-right table tr th :last-child {
    text-align: right;
}
.delivery-content-right table tr td {
    padding: 6px 0;
}
.delivery-content-right table tr:nth-child(4){
    border-top: 2px solid #dddddd;
}
.delivery-content-right table tr td:last-child {
    text-align: right;
}
.delivery-content-right table tr td:first-child {
    text-align: left
    ;
}
/*---------------payment--------*/
.payment{
    padding: 100px 0;
    
}
.payment-top-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
}
.payment-top {
    height: 2px;
    width: 70%;
    background-color: #dddddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 100px;
}
.payment-top-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border : 1px solid #dddddd;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.payment-top-item i{
color: #dddddd;
}
.payment-top-payment{
    border: 1px solid #00d7ea;
}
.payment-top-payment i {
    color: #00d7ea;
}
.payment-cotent{
    display: flex;
}
.payment-cotent-left {
    width: 60%;
    padding-left: 12px;
}
.payment-cotent-right {
    width: 40%;
    border-left: 2px solid #ddd;
    padding-left: 12px;
    
}
.payment-cotent-left p,label {
    font-size: 12px;
    font-family: var(--main-text-font);
}
.payment-cotent-right-button {
    display: flex;
    padding: 12px 0;
    border-bottom: 1px dashed #dddddd;
}
.payment-cotent-right-button input {
height: 30px;
width: 200px;
margin-right: 100px;
padding-left: 12px;
}
.payment-cotent-right-button button {
    height: 30px;
    width: 100px;
    background-color: #000;
    color: white;
    border: none;
    cursor: pointer;
}
.payment-cotent-right-mnv {
    margin-top: 20px;
}
.payment-cotent-right-mnv select{
    height: 30px;
    width: 100%;
    color: #75758a;
    padding-left: 12px;
}
.payment-cotent-right-payment{
    margin-top: 50px;
    align-items: center;
    text-align: center;
   
    
    
}
.payment-cotent-right-payment button {
    height: 35px;
    padding: 0 28px;
    font-size: 12px;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 2px solid black;
    
}
.payment-cotent-right-payment button:hover{
 background-color: black;
 color: #fff;
}
.payment-cotent-right-payment{
    padding-bottom: 30px;
    border-bottom: 2px solid #000;
    overflow: hidden;
}




